<div class='footer'>

  <img class='avatar' src='/img/123.png'/>
  <div class='personal'>
		<span class="motto">
			nothing's difficult to a willing heart
		</span>
  </div>

  <ul class='nav'>
    <li class='links'>
      <a href='//github.com/slashhuang' target='_blank'>
        <img src='/img/123.png' class='git'/>
        GitHub
      </a>
    </li>
    <li class='links'>
      <a href='https://www.zhihu.com/people/huang-da-xian-14-14' target='_blank'/>
      <img src='/img/123.png' class='zhihu'>知乎
      </a>
    </li>
  </ul>
</div>
</body>
